body{
    margin: 0;
    font-family: 'Roboto';
}

.banner{
    background-image: url(background.png);
    background-size: cover;
    /* padding: 100px 10px; */
    /* padding-bottom: 90px; */
    border-top: 8px solid rgb(83,198,94);
    display: flex; 
}

.titulo{
    margin-left: 200px;
    width: 450px;
    /* border: 2px solid red; */
}

.banner > .titulo{
    padding: 50px;
}

.banner .titulo h1{
    font-family: 'Pacifico';
    color: white;
    font-size: 58px;
    /* position: relative; */
}

.banner .titulo p{
    font-family: 'Roboto', sans-serif;
    color: white;
    /* position:absolute; */
    font-size: 24px;
}

.banner .titulo h1 span{
    color: rgb(83,198,94);
    border-radius: 100%;

}
.banner .titulo .icon :nth-child(1){
    /* padding-right: 25px; */
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 12px;
}
.banner .titulo .icon :nth-child(2){
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 12px;
}
.banner .titulo .icon :nth-child(3){
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 12px;
}
.banner .titulo .icon :nth-child(1):hover{
    background-color: rgb(83,198,94)
}

.banner .titulo .icon :nth-child(2):hover{
    background-color: rgb(83,198,94);
    
}
.banner .titulo .icon :nth-child(3):hover{
    background-color: rgb(83,198,94);
    
}

.banner .hand{
    border: red 2px solid;
    padding-top: 100px;
}
#mao{
    margin: 300px 
}


